<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= fullName %></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@8a98/dist/compressed/luxa.css"
    />
    <link rel="stylesheet" href="../stylesheets/editProfile.css" />
  </head>
  <body>
    <main class="has-dflex-center">
      <section>
        <div class="lx-container-70">
          <div class="lx-row">
            <h1 class="title">Edit your profile</h1>
          </div>
          <div class="lx-row align-stretch">
            <!-- <div class="lx-column column-user-pic">
              <div class="profile-pic bs-md">
                <h1 class="pic-label">Profile picture</h1>
                <div class="pic bs-md">
                  <img
                    src="https://bit.ly/3jRbrbp"
                    alt=""
                    width="4024"
                    height="6048"
                    loading="lazy"
                  />
                  <a id="change-avatar" class="lx-btn"
                    ><i class="fas fa-camera-retro"></i>&nbsp;&nbsp;Change your
                    profile picture.</a
                  >
                </div>
                <div class="pic-info">
                  <p>
                    Choose Your picture that will visible to Others as you
                    Profile pic.
                  </p>
                </div>
              </div>
            </div> -->
            <div class="lx-column">
              <form action="/saveProfile" method="post">
                <div class="fieldset">
                  <label for="user-name">Full Name</label>
                  <div class="input-wrapper">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <input
                      type="text"
                      id="fullName"
                      value="<%= fullName %>"
                      placeholder="Enter fullname"
                      name="fullName"
                    />
                  </div>
                </div>
                <div class="fieldset">
                  <label for="user-name">Username</label>
                  <div class="input-wrapper">
                    <span class="icon">@</span>
                    <input
                      type="text"
                      id="fullName"
                      value="<%= username %>"
                      placeholder="Enter username"
                      name="username"
                    />
                  </div>
                </div>
                <div class="fieldset">
                  <label for="user-id">Discription</label>
                  <div class="input-wrapper">
                    <textarea
                      type="number"
                      name="discription"
                      id="user-id"
                      placeholder="Your thoughts..."
                    ><%= discription %></textarea>
                  </div>
                  <div id="user-id-helper" class="helper"></div>
                </div>
                <div class="fieldset">
                  <label for="email">E-mail</label>
                  <div class="input-wrapper">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      value="<%= email %>"
                      placeholder="exm: user@ipsum.com"
                      autocomplete="username"
                    />
                  </div>
                  <div id="email-helper" class="helper"></div>
                </div>
                <div class="actions">
                  <button type="submit" id="save" class="lx-btn">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
      defer
      crossorigin="anonymous"
      data-search-pseudo-elements
    ></script>
  </body>
</html>
