<% include ./partials/header.ejs %> <% include ./partials/navbar.ejs %>
<main class="pt-12 md:pt-16">
  <div
    class="sm:w-[70vw] w-[90vw] shadow-lg flex-col md:flex-row rounded-2xl mx-auto mt-8 min-h-dvh md:min-h-[80vh] overflow-y-auto flex justify-center"
  >
    <div class="flex justify-center items-center min-h-fit w-full md:w-[45%]">
      <div
        class="relative w-full md:h-full overflow-hidden rounded-t-md md:rounded-t-none md:rounded-l-md"
      >
        <img
          class="object-cover w-full h-full transition-transform transform hover:scale-105"
          src="/images/uploads/<%= postImage %>"
          alt="post_image"
        />
      </div>
    </div>

    <div
      class="py-0 md:py-12 sm:px-10 px-3 md:w-[55%] w-full overflow-none lg:overflow-y-auto"
    >
      <h2 class="font-semibold text-3xl sm:text-5xl mt-10 mb-6"><%= title %></h2>
      <p class="text-zinc-500 text-sm sm:text-md min-h-[150px] rounded-md p-4">
        <%= description %>
      </p>
      <div class="my-8 flex items-center gap-3 py-2 px-3 rounded-md border-2">
        <img
          class="w-16 rounded-full aspect-square"
          src="/images/uploads/<%= user.profileImage %>"
          alt="profile_image"
        />
        <div class="flex flex-col justify-center">
          <span class="font-semibold text-zinc-700 text-md sm:text-lg"
            ><%= user.fullName %></span
          >
          <span
            class="font-semibold text-black opacity-50 sm:text-sm text-[12px]"
            >@<span><%= user.username %></span></span
          >
        </div>
      </div>
    </div>
  </div>
</main>
<% include ./partials/footer.ejs %>
